target: all,alertmanager

multitenancy_enabled: false

server:
  http_listen_port: 3200
  grpc_listen_port: 9096
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  max_block_duration: 5m

compactor:
  data_dir: /var/tempo/compactor
  compaction:
    block_retention: 720h  # 30 days

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/blocks
    wal:
      path: /var/tempo/wal
    cache: none

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]
      storage:
        path: /var/tempo/generator/wal
        remote_write:
          - url: http://mimir:9009/api/v1/push
            send_exemplars: true

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: validatorinfo
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://mimir:9009/api/v1/push
        send_exemplars: true
  traces_storage:
    path: /var/tempo/generator/traces

query_frontend:
  search:
    max_duration: 0s
