.button {
  text-align: center;
}

/** Dark Theme **/
.dark-theme {
  $color-dark: #1E1E1E;
  background-color: $color-dark!important;
  .shadow-card {
    background-color: $color-dark!important;
  }
  .el-menu {
    background-color: $color-dark!important;
    border-right-color: $color-dark!important;

    .el-menu-item {
      color: white!important;
    }
  }
  .el-scrollbar__view {
    border-bottom-color: $color-dark!important;
  }

  /** Tables **/
  .el-table {
    border-color: #444444!important;
  }
  .el-table tr {
    background-color: #1e1e1e!important;
  }
  .text-dark-lighter {
    color: white!important;
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background-color: #3b3b3b!important;
  }
  .is-light .el-table__header thead tr > th {
    background-color: $color-dark!important;
  }
  .bg-dark, .bg-default {
    background-color: $color-dark!important;
  }
}

.dark-theme-header {
    .text-main {
      color: #F3B003;
    }
}

/*** Side Borders ***/
#app {
  padding: 0 6rem;
  background-color: #1E1E1E;
}
