@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'DotGothic16', sans-serif;
    background-color: theme('colors.eerieBlack');
    color: theme('colors.white')
  }
}
